@font-face {
    src: url(fonts/digital-7.ttf);
    font-family: digi;
}

body {
    display: grid;
    text-align: center;
    justify-content: center;
    /* align-content: center; */
    background-color: thistle;
    padding: 0;
}

#spacey {
    height: 7px;
}

#calculator {
    display: grid;
    grid-template: repeat(6, 80px) / repeat(4, 80px);
    padding: 5px;
    border: solid 3px rgba(72, 134, 204, 0.603);
    grid-template-areas: 
    "z z z z" 
    "a a a a"
    "r s t u"
    "b c d e"
    "f g h i"
    "j k l m"
    "n o p q"
}

.btn {
    font-size: larger;
    border: 1px solid rgba(72, 134, 204, 0.972);
    background-color: rgb(240, 239, 239);
    outline:none;
}

.btn:hover {
    background-color: rgba(72, 134, 204, 0.466);
    border: 1px solid rgba(128, 128, 128, 0.322);
}

#disp-history {
    grid-area: z;
    font-size: 34px;
    font-family: digi;
    text-align: end; 
    background-color: rgba(3, 184, 130, 0.418);
    outline:none;
    border: 1.2px solid rgb(72, 134, 204);
    border-bottom: none;
}

#display {
    grid-area: a;
    font-size: 44px;
    font-family: digi;
    text-align: end;
    background-color: rgba(3, 184, 184, 0.418);
    outline:none;
    border: 1.2px solid rgb(72, 134, 204);
    /* border-top: none; */
}

#display:active {
    border-style: outset;
}

.backspace {
    grid-area: r;
}

.clear {
    grid-area: s;
}

.number-seven {
    grid-area: b;
}

.number-eight {
    grid-area: c;
}

.number-nine {
    grid-area: d;
}

.operator-divide {
    grid-area: e;
    background-color: rgba(255, 127, 80, 0.835);
}

.operator-divide:hover {
    background-color: rgb(255, 127, 80);
}

.operator-factorial {
    background-color: rgba(255, 127, 80, 0.835);
    grid-area: t;
}

.operator-factorial:hover {
    background-color: rgb(255, 127, 80);
}

.operator-power {
    background-color: rgba(255, 127, 80, 0.835);
    grid-area: u;
}

.operator-power:hover {
    background-color: rgb(255, 127, 80);
}

.number-four {
  grid-area: f;
}

.number-five {
    grid-area: g;
}
.number-six {
 grid-area: h;
}

.number-zero {
    grid-area: n;
    height: 5.13rem; 
     /* ^ if disp history is active  */
}

.operator-multiply {
    grid-area: i;
    background-color: rgba(255, 127, 80, 0.835);
}
.operator-multiply:hover {
    background-color: rgb(255, 127, 80);
}

.operator-subtract {
    grid-area: m;
    background-color: rgba(255, 127, 80, 0.835);
}
.operator-subtract:hover {
    background-color: rgb(255, 127, 80);
}

.operator-add {
    grid-area: q;
    background-color: rgba(255, 127, 80, 0.835);
}
.operator-add:hover {
    background-color: rgb(255, 127, 80);
}
.operator-equals {
    grid-area: p;
}

